version: '3'

services:
    redis:
        image: redis
        command: redis-server --requirepass yeet
        networks:
            - web
    loadbalancer:
        image: dockercloud/haproxy
        environment:
            - "BALANCE=leastconn"
            - "TIMEOUT=client 1000s, server 1000s"
            - "STATS_AUTH=test:test"
            - "STATS_PORT=2096"
            - "DEFAULT_SSL_CERT=-----BEGIN PRIVATE KEY-----\nPRIVATE KEY HERE\n-----END PRIVATE KEY-----\n-----BEGIN CERTIFICATE-----\nPUBLIC KEY HERE\n-----END CERTIFICATE-----\n"
        ports:
            - "8443:443"
            - "2096:2096"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        depends_on:
            - ws
            - redis
        networks:
            - web
    ws:
        image: socketserver
        depends_on:
            - redis
        environment:
            - SERVICE_PORTS=666
        networks:
            - web

networks:
    web:
        driver: overlay